version: '3'

services:
  mariadb:
    image: 'mariadb:latest'
    container_name: mariadb
    volumes:
      - /volumen/mariadb-volumen:/var/lib/mysql
      - ./sql:/docker-entrypoint-initdb.d/
    restart: 'always'
    environment:
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_USER: dbuser
      MYSQL_PASSWORD: dbpass
      MYSQL_DATABASE: people
  pac:
    build: .
    container_name: pac
    depends_on:
      - mariadb
    environment:
      DB_USER: dbuser
      DB_PASSWORD: dbpass
      DB_HOSTNAME: mariadb
      DB_PORT: 3306
      DATABASE: people
      LISTEN_HOST: 0.0.0.0
      LISTEN_PORT: 8080
    ports:
      - 80:8080