apiVersion: v1
data:
  MYSQL_PASSWORD: {{ .Values.mariadb.password|b64enc }}
  MYSQL_ROOT_PASSWORD: {{ .Values.mariadb.password_root|b64enc }}
  MYSQL_USER: {{ .Values.mariadb.user|b64enc }}
  MYSQL_DATABASE: {{ .Values.mariadb.database|b64enc }}
kind: Secret
metadata:
  name: mariadbcredentials
  namespace: default
type: Opaque

